/*
Layouts (jpg) prepared for res:
- Mobile: 375px
- Desktop: 1440px
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cyan-slider: hsl(174, 77%, 80%);
  --cyan-slider-bg: hsl(174, 86%, 45%);
  --red-discount-bg: hsl(14, 92%, 95%);
  --red-discount-txt: hsl(15, 100%, 70%);
  --blue-cta-txt: hsl(226, 100%, 87%);
  --blue-main-bg: hsl(230, 100%, 99%);
  --blue-empty-slider: hsl(224, 65%, 95%);
  --blue-toggle-bg: hsl(223, 50%, 87%);
  --blue-txt: hsl(225, 20%, 60%);
  --blue-dark-txt-cta: hsl(227, 35%, 25%);
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  background-color: var(--blue-main-bg);
}
ul,
li {
  list-style: none;
}
.main {
  color: var(--blue-txt);
  padding-bottom: 100px;
  .header {
    text-align: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    &__img-circle {
      position: absolute;
      display: block;
      width: 40%;
      top: 55px;
      left: 30%;
      z-index: -1;
    }
    &__img-bg {
      position: absolute;
      display: block;
      width: 100vw;
      height: 400px;
      top: 0;
      left: 0;
      z-index: -2;
    }
    &__title {
      margin-top: 90px;
      font-size: 1.25rem;
      margin-bottom: 10px;
      color: var(--blue-dark-txt-cta);
    }
    &__subtitle {
      font-size: 0.8rem;
      display: block;
      width: 190px;
      margin: 0 auto;
    }
  }
  .main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: -62px auto;
    width: 88vw;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 18px 31px -12px rgb(208, 213, 227);
    text-align: center;

    .top {
      display: flex;
      flex-direction: column;
      padding: 30px 10px;

      &__pageviews-amount {
        display: block;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        order: 1;
        flex-grow: 1;
      }

      &__price {
        order: 3;
        flex-grow: 1;
      }

      // SLIDER FROM YT hindu tut
      &__slider {
        position: relative;
        order: 2;
        flex-grow: 1;
        margin: 40px 0;
        z-index: 3;

        &-input {
          appearance: none;
          width: 100%;
          height: 10px;
          background-color: var(--blue-empty-slider);
          border-radius: 5px;
        }
        //slider toolip
        &-input::-webkit-slider-thumb {
          position: relative;
          appearance: none;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: var(--cyan-slider-bg);
          box-shadow: 0px 14px 34px -2px var(--cyan-slider-bg);
          cursor: pointer;
          background-image: url(../images/icon-slider.svg);
          background-size: 20px;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 3;
        }

        &-progressbar {
          position: absolute;
          width: 50%;
          height: 10px;
          top: 6px;
          left: 0;
          border-radius: 5px;
          background: var(--cyan-slider-bg);
        }
      }

      //after progressbar (mthly/yearly)

      &__time {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 0.7rem;
        font-weight: 800;

        &-slider {
          position: relative;
          display: inline-block;
          width: 44px;
          height: 22px;
          margin: 0 8px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          &-dot {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 12px;
            background-color: var(--blue-toggle-bg);
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          &-dot:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 4px;
            bottom: 4px;
            border-radius: 50%;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          input:checked + .top__time-slider-dot {
            background-color: var(--cyan-slider-bg);
          }

          input:checked + .top__time-slider-dot:before {
            transform: translateX(22px);
          }
        }

        &-discount {
          display: inline-block;
          color: var(--red-discount-txt);
          padding: 2px 8px;
          margin: 4px;
          // height: 18px;
          background-color: var(--red-discount-bg);
          border-radius: 20px;

          &-txt {
            display: none;
          }
        }
      }

      &__price {
        order: 3;
        &-per-month-no {
          color: black;
          font-size: 2rem;
          font-weight: 800;
        }
        &-per-month-mth {
          vertical-align: super;
        }
      }
      &__time {
        order: 4;
      }
    }
    .divider {
      width: 100%;
      border: 1px solid var(--blue-empty-slider);
      // border-color: var(--blue-cta-txt);
    }
  }
  .bottom {
    margin-top: 24px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__btn {
      font-weight: 600;
      height: 40px;
      color: var(--blue-cta-txt);
      border: 0;
      background-color: var(--blue-dark-txt-cta);
      padding: 12px 50px;
      border-radius: 50px;
      cursor: pointer;
    }
    &__btn:hover,
    &__btn:active {
      color: white;
    }
  }
}

footer {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  bottom: 12px;
  z-index: 0;
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
// MEDIA -fit for layout 1440px
// -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

@media (min-width: 640px) {
  .main {
    .header {
      &__img-circle {
        top: 68px;
        left: calc(50% - 73px);
        width: 142px;
        text-align: center;
      }
      &__img-bg {
        height: 450px;
      }
      &__title {
        margin-top: 106px;
        font-size: 1.75rem;
        margin-bottom: 10px;
      }
      &__subtitle {
        font-size: 0.9rem;
        width: 100vw;
      }
    }
    .main-panel {
      margin: -36px auto;
      width: 542px;
      height: 100%;

      .top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 42px 40px;

        &__pageviews-amount {
          font-size: 0.9rem;
          letter-spacing: 0.1rem;
          display: block;
          flex-grow: 1;
          flex-shrink: 1;
          align-self: auto;
          order: 1;
        }
        &__price {
          display: block;
          flex-grow: 1;
          flex-shrink: 1;
          // align-self: auto;
          order: 2;
        }
        &__slider {
          flex-grow: 2;
          flex-shrink: 2;
          flex-basis: 100%;
          align-self: auto;
          order: 3;
          margin: 40px 0 20px 0;
        }
        &__time {
          display: block;
          flex-grow: 2;
          flex-shrink: 2;
          order: 4;
          display: flex;
          justify-content: end;
          font-size: 0.8rem;
          &-discount {
            margin-right: 32px;
            font-size: 0.65rem;
            line-height: 0.8rem;
            &-txt {
              display: inline-block;
            }
          }
        }

        &__price {
          order: 3;
        }
        &__time {
          order: 4;
        }
      }
      .top__price {
        order: 2;
        &-per-month-no {
          font-size: 2.4rem;
          font-weight: 800;
        }
      }
    }

    .bottom {
      margin-bottom: 30px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      &__list {
        text-align: left;
        margin-right: 120px;
      }
    }
  }
}
